.card {
	&__img {
		width: 100%;
		border-radius: 1rem;
		object-fit: cover;
		height: 300px;
	}

	&__info {
		display: flex;
		padding: 0.3rem;
		justify-content: space-between;
		align-items: center;
	}

	&__rating {
		background-color: rgb(47, 180, 42);
		padding: 5px;
		color: white;
		font-weight: bold;
		width: 2rem;
		height: 2rem;
		text-align: center;
		border-radius: 2rem;
	}
}
