.card {
	max-width: 250px;

	&__img {
		width: 100%;
		border-radius: 1rem;
		height: 350px;
	}

	&__info {
		display: flex;
		padding: 0.3rem;
		justify-content: space-around;
		align-items: center;
	}

	&__rating {
		font-weight: bold;

		&-num {
			color: rgb(4, 0, 255);
		}
	}
}

@media screen and (max-width: 568px) {
	.card {
		max-width: 200px;
		&__img {
			height: 200px;
			object-fit: contain;
		}

		&__title {
			font-size: 1rem;
		}
	}
}
