.sidebar {
  width: 20vw;
  height: 80vh;
  background-color: rgb(241, 241, 241);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;

  &__heading {
    margin-top: 2rem;
    font-weight: bolder;
  }
}