.nav {
	padding: 1rem 5rem;
	height: 12vh;
	width: 100%;
	background-color: rgb(13, 19, 36);
	display: flex;
}

@media screen and (max-width: 568px) {
	.nav {
		padding: 1rem 2rem;

		&__logo {
			width: 7rem;
		}
	}
}
